<!--Footer-->
<div class="footer">
    <footer class="footer-admin mt-auto footer-dark">
        <div class="container-xl px-4">
            <div class="row">
                <div class="col-md-6 small">Website thuộc quyền quản lý của NEXUS SNEAKERS (2024)</div>
                <div class="col-md-6 text-md-end small">
                    <a href="#!">Chính sách bảo mật</a>
                    &middot;
                    <a href="#!">Điều khoản và điều kiện</a>
                </div>
            </div>
        </div>
    </footer>
</div>
<div class="clearfix"></div>